In [1]:
import pandas as pd

In [2]:
drinks=pd.read_csv("http://bit.ly/drinksbycountry")

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [41]:
drinks.set_index('country',inplace=True)

KeyError: 'country'

In [6]:
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [7]:
drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [25]:
drinks.continent.value_counts()['Africa']

53

In [12]:
drinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12])

In [17]:
drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [26]:
people=pd.Series([30000,8500],index=['Albania','Andorra'],name='population')

In [27]:
people.head()

Albania    30000
Andorra     8500
Name: population, dtype: int64

In [28]:
drinks.beer_servings * people

Afghanistan                   NaN
Albania                 2670000.0
Algeria                       NaN
Andorra                 2082500.0
Angola                        NaN
Antigua & Barbuda             NaN
Argentina                     NaN
Armenia                       NaN
Australia                     NaN
Austria                       NaN
Azerbaijan                    NaN
Bahamas                       NaN
Bahrain                       NaN
Bangladesh                    NaN
Barbados                      NaN
Belarus                       NaN
Belgium                       NaN
Belize                        NaN
Benin                         NaN
Bhutan                        NaN
Bolivia                       NaN
Bosnia-Herzegovina            NaN
Botswana                      NaN
Brazil                        NaN
Brunei                        NaN
Bulgaria                      NaN
Burkina Faso                  NaN
Burundi                       NaN
Cabo Verde                    NaN
Cambodia                      NaN
                          ...
Sudan                         NaN
Suriname                      NaN
Swaziland                     NaN
Sweden                        NaN
Switzerland                   NaN
Syria                         NaN
Tajikistan                    NaN
Tanzania                      NaN
Thailand                      NaN
Timor-Leste                   NaN
Togo                          NaN
Tonga                         NaN
Trinidad & Tobago             NaN
Tunisia                       NaN
Turkey                        NaN
Turkmenistan                  NaN
Tuvalu                        NaN
USA                           NaN
Uganda                        NaN
Ukraine                       NaN
United Arab Emirates          NaN
United Kingdom                NaN
Uruguay                       NaN
Uzbekistan                    NaN
Vanuatu                       NaN
Venezuela                     NaN
Vietnam                       NaN
Yemen                         NaN
Zambia                        NaN
Zimbabwe                      NaN
Length: 193, dtype: float64

In [30]:
pd.concat([drinks,people],axis=1).head()

/home/susiejojo/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,population
Afghanistan,0,0,0,0.0,Asia,NaN
Albania,89,132,54,4.9,Europe,30000.0
Algeria,25,0,14,0.7,Africa,NaN
Andorra,245,138,312,12.4,Europe,8500.0
Angola,217,57,45,5.9,Africa,NaN

In [34]:
drinks.beer_servings.astype('float64')

country
Afghanistan               0.0
Albania                  89.0
Algeria                  25.0
Andorra                 245.0
Angola                  217.0
Antigua & Barbuda       102.0
Argentina               193.0
Armenia                  21.0
Australia               261.0
Austria                 279.0
Azerbaijan               21.0
Bahamas                 122.0
Bahrain                  42.0
Bangladesh                0.0
Barbados                143.0
Belarus                 142.0
Belgium                 295.0
Belize                  263.0
Benin                    34.0
Bhutan                   23.0
Bolivia                 167.0
Bosnia-Herzegovina       76.0
Botswana                173.0
Brazil                  245.0
Brunei                   31.0
Bulgaria                231.0
Burkina Faso             25.0
Burundi                  88.0
Cote d'Ivoire            37.0
Cabo Verde              144.0
                        ...
Suriname                128.0
Swaziland                90.0
Sweden                  152.0
Switzerland             185.0
Syria                     5.0
Tajikistan                2.0
Thailand                 99.0
Macedonia               106.0
Timor-Leste               1.0
Togo                     36.0
Tonga                    36.0
Trinidad & Tobago       197.0
Tunisia                  51.0
Turkey                   51.0
Turkmenistan             19.0
Tuvalu                    6.0
Uganda                   45.0
Ukraine                 206.0
United Arab Emirates     16.0
United Kingdom          219.0
Tanzania                 36.0
USA                     249.0
Uruguay                 115.0
Uzbekistan               25.0
Vanuatu                  21.0
Venezuela               333.0
Vietnam                 111.0
Yemen                     6.0
Zambia                   32.0
Zimbabwe                 64.0
Name: beer_servings, Length: 193, dtype: float64

In [40]:
drinks.columns.str.replace('beer_servings','beer')

Index(['beer', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [42]:
drinks.index.name=None

In [43]:
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa