In [1]:
import pandas as pd

In [5]:
pd.DataFrame({'id':[100,101,102],'color':['red','green','red']},columns=['id','color'],index=['a','b','c'])

    id  color
a  100    red
b  101  green
c  102    red

In [6]:
pd.DataFrame([[100,'red'],[101,'blue'],[102,'green']])

     0      1
0  100    red
1  101   blue
2  102  green

In [7]:
import numpy as np

In [9]:
arr=np.random.rand(4,2)

In [10]:
arr

array([[0.58016608, 0.59482698],
       [0.83475332, 0.90656537],
       [0.56496987, 0.51411576],
       [0.14883851, 0.03959874]])

In [12]:
pd.DataFrame(arr,columns=['one','two'])

        one       two
0  0.580166  0.594827
1  0.834753  0.906565
2  0.564970  0.514116
3  0.148839  0.039599

In [17]:
df=pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,100,10)}).set_index('student')

In [26]:
s=pd.Series(np.random.randint(10,20,10),index=['a','b','c','d','e','f','g','h','i','j'],name='Number')

In [27]:
pd.concat([df,s],axis=1)

     test  Number
100  64.0     NaN
101  66.0     NaN
102  78.0     NaN
103  70.0     NaN
104  82.0     NaN
105  82.0     NaN
106  92.0     NaN
107  73.0     NaN
108  64.0     NaN
109  86.0     NaN
a     NaN    12.0
b     NaN    17.0
c     NaN    13.0
d     NaN    11.0
e     NaN    10.0
f     NaN    19.0
g     NaN    14.0
h     NaN    17.0
i     NaN    10.0
j     NaN    18.0