In [1]:
import pandas as pd

In [2]:
drinks=pd.read_csv("http://bit.ly/drinksbycountry")

In [4]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.1+ KB

In [7]:
drinks.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.4 KB

In [8]:
drinks.memory_usage(deep=True)

Index                              80
country                         12588
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                       12332
dtype: int64

In [13]:
sorted(drinks.continent.unique())

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [22]:
drinks.continent.value_counts().sort_index().index #same thing

Index(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [12]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [23]:
drinks['continent']=drinks.continent.astype('category')

In [25]:
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [26]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: category
Categories (6, object): [Africa, Asia, Europe, North America, Oceania, South America]

In [27]:
drinks.continent.cat.codes.head()

0    1
1    2
2    0
3    2
4    0
dtype: int8

In [28]:
drinks.memory_usage(deep=True)

Index                              80
country                         12588
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         744
dtype: int64

In [29]:
drinks['country']=drinks.country.astype('category')

In [31]:
drinks.memory_usage(deep=True)

Index                              80
country                         18094
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         744
dtype: int64

In [32]:
drinks.country.cat.codes.head()

0    0
1    1
2    2
3    3
4    4
dtype: int16

In [34]:
df=pd.DataFrame({'ID':['100','200','300','400'],'quality':['good','very good','good','excellent']})

In [35]:
df.head()

    ID    quality
0  100       good
1  200  very good
2  300       good
3  400  excellent

In [36]:
df.sort_values('quality')

    ID    quality
3  400  excellent
0  100       good
2  300       good
1  200  very good

In [38]:
df['quality']=df.quality.astype('category',categories=['good','very good','excellent'],ordered=True)

/home/susiejojo/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3296: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  exec(code_obj, self.user_global_ns, self.user_ns)

In [39]:
df.head()

    ID    quality
0  100       good
1  200  very good
2  300       good
3  400  excellent

In [40]:
df.sort_values('quality')

    ID    quality
0  100       good
2  300       good
1  200  very good
3  400  excellent

In [42]:
df[df.quality>'good']

    ID    quality
1  200  very good
3  400  excellent