In [38]:
import pandas as pd

In [39]:
ufo=pd.read_csv("http://bit.ly/uforeports")

In [40]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [41]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [42]:
ufo.rename(columns={'Colors Reported' : 'Colors','Shape Reported' : 'Shapes'},inplace=True)

In [43]:
ufo.head()

                   City Colors    Shapes State             Time
0                Ithaca    NaN  TRIANGLE    NY   6/1/1930 22:00
1           Willingboro    NaN     OTHER    NJ  6/30/1930 20:00
2               Holyoke    NaN      OVAL    CO  2/15/1931 14:00
3               Abilene    NaN      DISK    KS   6/1/1931 13:00
4  New York Worlds Fair    NaN     LIGHT    NY  4/18/1933 19:00

In [44]:
ufo_cols=['City where spotted','Color','Shape','States','When']
ufo.columns=ufo_cols

In [45]:
ufo.head()

     City where spotted Color     Shape States             When
0                Ithaca   NaN  TRIANGLE     NY   6/1/1930 22:00
1           Willingboro   NaN     OTHER     NJ  6/30/1930 20:00
2               Holyoke   NaN      OVAL     CO  2/15/1931 14:00
3               Abilene   NaN      DISK     KS   6/1/1931 13:00
4  New York Worlds Fair   NaN     LIGHT     NY  4/18/1933 19:00

In [46]:
ufo.columns=ufo.columns.str.replace(" ","_")

In [47]:
 ufo.head()

     City_where_spotted Color     Shape States             When
0                Ithaca   NaN  TRIANGLE     NY   6/1/1930 22:00
1           Willingboro   NaN     OTHER     NJ  6/30/1930 20:00
2               Holyoke   NaN      OVAL     CO  2/15/1931 14:00
3               Abilene   NaN      DISK     KS   6/1/1931 13:00
4  New York Worlds Fair   NaN     LIGHT     NY  4/18/1933 19:00

In [48]:
ufo['When']=ufo['When'].str.split(" ",n=1,expand=True)

In [50]:
ufo['Date']=ufo['When'][0]
ufo['Time']=ufo['When'][1]

In [51]:
ufo.drop(columns=['When'],inplace=True)

In [52]:
ufo.head()

     City_where_spotted Color     Shape States      Date       Time
0                Ithaca   NaN  TRIANGLE     NY  6/1/1930  6/30/1930
1           Willingboro   NaN     OTHER     NJ  6/1/1930  6/30/1930
2               Holyoke   NaN      OVAL     CO  6/1/1930  6/30/1930
3               Abilene   NaN      DISK     KS  6/1/1930  6/30/1930
4  New York Worlds Fair   NaN     LIGHT     NY  6/1/1930  6/30/1930